<section style="color:white">
<h3>Development plan</h3>

<h5><strong>First Phase</strong></h5>
<ol>	
	<li>Retreive tweets(1 account a time)</li>
	<li>Create Service for Tweets</li>
	<li>Tweak Trades</li>
		<ul>
			<li>Conform structure</li>
			<li>Searching in tweets for keywords</li>
		</ul>
	<li>Display keywords on frontend</li>
	<li>Set-up node connection to TradeKing</li>

</ol>

<h5><strong>Second Phase</strong></h5>
<ol>
	<li>List multiple account + refresh automatically</li>
	<li>Build a login</li>
	<li>User Interface</li>
	<li>Back-end for users/partners</li>

</ol>
</section>